<md-content>
	<mb-titled-block 
		mb-preloading="ctrl.groupLoading"
		mb-title="Info">
		<div layout="column"
			layout-padding>
			<div 
				layout="column" 
				layout-align="center start">
				<table
					class="amd-table amd-table-description">
					<tr>
						<td mb-translate>ID</td>
						<td>{{::group.id}}</td>
					</tr>
					<tr>
						<td mb-translate>Name</td>
						<td>
							<mb-inline
								ng-model="group.name"
								mb-inline-type="text"
								mb-inline-label="Group name"
								mb-inline-enable="app.user.tenant_owner"
								mb-inline-on-save="save()">
									{{group.name || '...'}}
							</mb-inline>
						</td>
					</tr>
					<tr>
						<td mb-translate>Description</td>
						<td>
							<mb-inline
								ng-model="group.description"
								mb-inline-type="text"
								mb-inline-label="Group description"
								mb-inline-enable="app.user.tenant_owner"
								mb-inline-on-save="save()">
									{{group.description || '...'}}
							</mb-inline>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div
			layout="column" 
			layout-gt-sm="row">
			<span flex></span>
			<md-button 
				class="md-raised md-accent" 
				ng-click="remove()">
				<mb-icon>delete</mb-icon>
				<span mb-translate>Delete</span>
			</md-button>
		</div>
	</mb-titled-block>

	<mb-titled-block 
		mb-preloading="ctrl.roleLoading"
		mb-title="Roles">
		<md-chips 
			ng-model="roles.items"
			md-on-remove="removeRole($chip)">
			<md-chip-template>
				<strong>{{$chip.name}}</strong>
			</md-chip-template>
		</md-chips>
		<div 
			ng-show="!roles.items || roles.items.length == 0"
			layout="column" 
			layout-align="center center">
			<p mb-translate>Group has no role.</p>
		</div>
		<div layout="row">
			<span flex></span>
			<md-button class="md-raised"
				ng-click="changeRoles()">
				<mb-icon>edit</mb-icon>
				<span mb-translate>Edit</span>
			</md-button>
		</div>
	</mb-titled-block>
	
	<mb-titled-block 
		mb-preloading="ctrl.userLoading"
		mb-title="Accounts">
		<md-chips 
			ng-model="users.items"
			md-on-remove="removeUser($chip)">
			<md-chip-template>
				<strong>{{$chip.login}}</strong>
			</md-chip-template>
		</md-chips>
		<div 
			ng-show="!users.items || users.items.length == 0"
			layout="column" 
			layout-align="center center">
			<p mb-translate>Group has no any member.</p>
		</div>
		<div layout="row">
			<span flex></span>
			<md-button class="md-raised"
				ng-click="changeUsers()">
				<mb-icon>edit</mb-icon>
				<span mb-translate>Edit</span>
			</md-button>
		</div>
	</mb-titled-block>
</md-content>

