<md-content
	mb-preloading="ctrl.working"
	flex>
	<!-- New group -->
	<mb-titled-block 
		mb-title="New group"
		mb-progress="ctrl.working">
		<form 
			name="ctrl.myForm"
		 	layout="column" 
			ng-submit="addGroup(model)"
			mb-preloading="ctrl.working">
		    <input hide type="submit" />
			<div layout="column" 
				layout-padding>
				<md-input-container>
					<label mb-translate>Name</label>
					<input name="name" ng-model="model.name" type="text" required>
					<div ng-messages="ctrl.myForm.name.$error">
						<div ng-message="required" mb-translate>This field is required.</div>
						<div ng-message="unique" mb-translate>Username is used before.</div>
					</div>
				</md-input-container>
				<md-input-container>
					<label mb-translate>Description</label>
					<input ng-model="model.description">
				</md-input-container>
			</div>
			<div layout="row">
				<span flex></span>
				<md-button 
					class="md-raised"
					ng-click="cancel()"
					aria-label="close">
<!-- 					<mb-icon>close</mb-icon> -->
					<span mb-translate>Cancel</span>
				</md-button>
				<md-button 
					class="md-raised md-primary"
					ng-click="addGroup(model)">
<!-- 					<mb-icon>done</mb-icon> -->
					<span mb-translate>Add</span>
				</md-button>
			</div>
		</form>
	</mb-titled-block>
</md-content>
	